body {
  font-family: Garamond;
  color: black;
  background-color: white;
  font-size: 13pt;
  margin: 90px;
  margin-top: 80px;
}

#headerbar {

}

#home {
	width: 150px;
	float: left;
	font-size: 20pt;
}

#main_menu {
	/*float: right;*/
	padding-top: 20px;
	margin-left: 220px;
}

#sidebar {
	margin-top: 100px;
	width: 200px;
}

#sidebar_artist {
	/*margin-top: 100px;*/
	width: 200px;
	/*display: inline;*/
	position: relative;
	float: left;
}

.menu_item {
	padding-right: 110px;
	display: inline-block;
}

.last_item {
	padding-right: 0px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
}

#main_content {
	/*margin-left: 250px;*/
	margin-top: 100px;

}

#show_info {
	width: 300px;
	float: left;
	margin-right: 30px;
}

#show_title {
	padding-bottom: 15px;
	font-size: 25px;
}

#show_description {

}

#show_pic {

}

#show_img {
	/*margin-top: 20px;*/
	width: 500px;
	float: left;
}

.subtitle {
	padding-top: 20px;
	font-size: 14pt;
	padding-bottom: 5px;
}

.contact_info {

}

#contact_content {
	margin-left: 220px;
	margin-top: 100px;
}

#artists_list {
	list-style-type: none;
	padding-left: 0px;
}

.artist_name {
	padding-left: 1.5em;
    text-indent:-1.5em;
}

#artist_title {
	padding-bottom: 15px;
	font-size: 25px;
}

#artist_statement {
	font-size: 11pt;
}

#artist_page_wrapper {
	margin-top: 50px;
}

#main_artist_content {
	
	/*float: right;*/
	/*margin-left: 250px;*/
	/*display: inline;*/
	/*position: fixed;*/
	float: left;
	width: 600px;
}