body {
  font-family: Garamond;
  color: black;
  background-color: white;
  font-size: 13pt;
  
}

#headerbar {

}

#home {
	width: 150px;
	float: left;
	font-size: 20pt;
}

#main_menu {
	/*float: right;*/
	padding-top: 20px;
	margin-left: 200px;
}

#sidebar {
	margin-top: 100px;
	width: 200px;
}

#sidebar_artist {
	/*margin-top: 100px;*/
	width: 200px;
	/*display: inline;*/
	position: relative;
	float: left;
}

.menu_item {
	padding-right: 110px;
	display: inline-block;
}

.last_item {
	padding-right: 0px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
}

#main_content {
	/*margin-left: 250px;*/
	margin-top: 100px;

}

#show_info {
	width: 300px;
	float: left;
	margin-right: 30px;
}

#show_title {
	padding-bottom: 15px;
	font-size: 25px;
	padding-left: 20px;
}

#show_description {
	padding-left: 20px;
}

#show_pic {

}

#show_img {
	/*margin-top: 20px;*/
	width: 500px;
	float: left;
}

.subtitle {
	padding-top: 20px;
	font-size: 14pt;
	padding-bottom: 5px;
}

.contact_info {

}

#contact_content {
	margin-left: 200px;
	margin-top: 100px;
}

#artists_list {
	list-style-type: none;
	padding-left: 0px;
}

.artist_name {
	padding-left: 1.5em;
    text-indent:-1.5em;
}

#artist_title {
	/*padding-bottom: 15px;*/
	font-size: 25px;
}

#artist_statement {
	font-size: 11pt;
}

#biography {
	font-size: 11pt;
}

#artist_page_wrapper {
	margin-top: 50px;
	/*margin-bottom: 50px;*/
	/*display: block;*/
}

.right {
	
	/*float: right;*/
	/*margin-left: 250px;*/
	/*display: inline;*/
	/*position: fixed;*/
	float: left;
	width: 620px;
}

#main_page_title {
	font-size: 20pt;
	color: #7e7e7e;
	margin-bottom: 15px;
}

.artist_name:hover {
	color: gray;
	cursor: hand;
}

.test_img {
	/*width: 500px;*/
	z-index: 2;
}

.ind_img {
	/*width: 500px;*/
	z-index: 2;
}

.ind_img:hover {
	cursor: pointer;
}

.square-thumb {
    width: 100px;
    height: 100px;
}

.square-thumb-larger {
    width: 150px;
    height: 150px;
}

.thumbnails {
	margin-top: 20px;
}

.nailthumb-container {
	position: relative;
	float: left;
	margin-right: 10px;
}

.all-thumbs:hover {
	cursor: pointer;
}

.name-thumb {
	/*display:none;*/
	background-color:lightgray;
	width: 150px;
	height: 150px;
	position: relative;
	margin: 0px;
	padding: 0px;
	float: left;
	margin-right: 10px;
	z-index:1;
	overflow:hidden;
	color: white;
	padding-top: 10px;
	font-size: 14pt;
	text-align: center;
}

.name-thumb:hover {
	cursor: pointer;
}

.main_pic {
	/*border: 1px solid gray;*/
}

.main_img {
	width: 600px;
}

.main_pic_wrapper {
	/*margin-top: 20px;*/
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
	padding: 90px;
  	padding-top: 80px;
  	/*margin-bottom: 50px;*/
}
.footer, .push {
	height: 100px;
	/*background-color: lightgray;*/
	clear: both;
}

.footer {
	background-color: lightgray;
	/*margin-top:50px;*/
	padding: 50px;
	padding-left: 90px;
}

.footer_subdivide {
	width: 250px;
	position: relative;
	float: left;
}

.footer_subtitle {
	font-size: 14pt;
}

.footer_text {
	font-size: 10pt;
}

.section_title {
	font-size: 14pt;
	margin-top: 40px;
	margin-bottom: 20px;
	color: #B03060;
}