{% csrf_token %}

<html>
<!-- <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/basic.min.css"> -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
<title>Cooperative Gallery 213</title>
<body>
<div id="headerbar">
	<div id="home">
		<a href='/'>Cooperative Gallery 213</a>
	</div>
	<div id="main_menu">
		<span class="menu_item"><a href='/'>Home</a></span>
		<span class="menu_item"><a href='/artists_main'>Artists</a></span>
		<span class="menu_item"><a href='/calendar'>Calendar</a></span>
		<span class="menu_item last_item"><a href='/contact'>Contact</a></span>
	</div>
</div>
<div id="artist_page_wrapper">
	<div id="sidebar_artist">
		<ul id="artists_list">
		</ul>
	</div>
	<div id="main_artist_content">
		<div id="artist_title">
		</div>
		<div id="artist_statement">
		</div>
		<div id="images"></div>
		<div id="gallery">
			<div id="controls"></div>
			<div id="loading"></div>
			<div id="slideshow"></div>
			<div id="caption"></div>
			<div id="thumbs"></div>
	</div>
</div>
</body>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}js/artists.js"></script>
<script>

	var am_json = JSON.stringify({{artists|safe}})

	var am_first = JSON.parse(am_json);

	console.log(am_first)
</script>
</html>
