{% csrf_token %}

<html>
<!-- <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/basic.min.css"> -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.nailthumb.1.1.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/slimbox2.css">
<title>Cooperative Gallery 213</title>
<body>
<div id='page-wrap'>
<div class="wrapper">
<div id="headerbar">
	<div id="home">
		<a href='/'>Cooperative Gallery 213</a>
	</div>
	<div id="main_menu">
		<span class="menu_item"><a class='selected_link' href='/artists_main'>Artists</a></span>
		<span class="menu_item"><a href='/calendar'>Calendar</a></span>
		<span class="menu_item"><a href='/membership'>Membership</a></span>
		<span class="menu_item"><a href='/links'>Related Links</a></span>
		<span class="menu_item last_item"><a href='/contact'>About</a></span>
	</div>
</div>
<div id="artist_page_wrapper">
	<div id="sidebar_artist">
		<ul id="artists_list">
		</ul>
	</div>
	<div id = "all_artists" class="right">
		
	</div>
	<div id="main_artist_content" class="right">
		<div id="artist_title">
		</div>
		<div id="website">

		</div>
		<div class="section_title" id="bio_title">
			Biography
		</div>
		<div id="biography">
		</div>
		<div class="section_title" id="statement_title">
			Artist Statement
		</div>
		<div id="artist_statement">
		</div>
		<div class="section_title">
			Artwork
		</div>
		<!-- <div class="main_pic_wrapper"></div> -->
		<div class="thumbnails"></div>
	</div>
</div>
<div class="push"></div>
</div>
</div>

<div class="footer">
	<div id="footer-wrap">
	<div class='footer_subdivide'>
		<div class='footer_subtitle'>
			Location
		</div>
		<div class='footer_text'>
			Cooperative Gallery 213<br>
			213 State Street<br>
			Binghamton, New York 1390<br>
			
		</div>
	</div>
	<div class='footer_subdivide'>
		<div class='footer_subtitle'>
			Hours
		</div>
		<div class='footer_text'>
			Fridays 3-6 p.m.<br>
			First Fridays 3-9 p.m.<br>
			Saturdays 12-4 p.m.
		</div>
	</div>
	<div class='footer_subdivide'>
		<div class='footer_subtitle'>
			Contact
		</div>
		<div class='footer_text'>
			(607) 724-3462<br>
			<a href="mailto:info@cooperativegallery.com">info@cooperativegallery.com</a>
		</div>
	</div>
	</div>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}js/jquery.nailthumb.1.1.js"></script>
<script src="{{ STATIC_URL }}js/jquery.hoverintent.js"></script>
<script src="{{ STATIC_URL }}js/artists.js"></script>
<script src="{{ STATIC_URL }}js/sidebar.js"></script>
<script src="{{ STATIC_URL }}js/slimbox2.js"></script>
<script>

	var am_json = JSON.stringify({{artists|safe}});
	var am_artwork_json = JSON.stringify({{artwork|safe}});

	var am_first = JSON.parse(am_json);
	var am_artwork = JSON.parse(am_artwork_json)[0];

	console.log(am_first)
	console.log(am_artwork)
</script>
</html>
