<html>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
<title>Cooperative Gallery 213</title>
<body>
<div id="headerbar">
	<div id="home">
		<a href='/'>Cooperative Gallery 213</a>
	</div>
	<div id="main_menu">
		<span class="menu_item"><a href='/'>Home</a></span>
		<span class="menu_item"><a href='/artists_main'>Artists</a></span>
		<span class="menu_item"><a href='/calendar'>Calendar</a></span>
		<span class="menu_item last_item"><a href='/contact'>Contact</a></span>
	</div>
</div>
<div id="sidebar">

</div>
<div id="contact_content">
	<div class="contact_info">Cooperative Gallery 213</div>
	<div class="contact_info">213 State Street</div>
	<div class="contact_info">Binghamton, New York 1390</div>
	<div class="contact_info">(607) 724-3462</div>

	<div class="subtitle">Gallery hours:</div>
	<div class="contact_info">Fridays 3-6 p.m.</div>
	<div class="contact_info">First Fridays 3-9 p.m.</div>
	<div class="contact_info">Saturdays 12-4 p.m.</div>
</div>
</body>
</html>
