<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>

<p>Benoit Image Lookup</p>

<input name="searchBenoitImage" type="text" maxlength="512" id="searchBenoitImage"/>
<button id="lookupButton" type="button" >Lookup</button>

<img id="resultImg" src=""/>

<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
$("#lookupButton").click(function() {
    var searchTitle = $("#searchBenoitImage").val();
    var resultImg = $("#resultImg");
    $.ajax({
        url: "/ajax_get_benoit_image/",
        type: "POST",
        headers: { "X-CSRFToken": getCookie('csrftoken') },
        data: { "title": searchTitle },
        dataType: "json",
        success: function (response) {
            resultImg.attr("src", response.url);
        },
    });
});
</script>
</body>
</html> 
