<html>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
<title>Cooperative Gallery 213</title>
<body>
<div id='page-wrap'>
<div class="wrapper">
<div id="headerbar">
	<div id="home">
		<a href='/'>Cooperative Gallery 213</a>
	</div>
	<div id="main_menu">
		<span class="menu_item"><a href='/artists_main'>Artists</a></span>
		<span class="menu_item"><a href='/calendar'>Calendar</a></span>
		<span class="menu_item"><a href='/membership'>Membership</a></span>
		<span class="menu_item"><a href='/links'>Related Links</a></span>
		<span class="menu_item last_item"><a href='/contact'>About</a></span>
	</div>
</div>
<div id="sidebar">

</div>
<div id="main_content">
	<div id="main_page_title">
		Current Show
	</div>
	<div class="show_images_two">
		<div class="show_pic">
			<img class="show_img" id="left_img" src="">
		</div>
		<div class="show_pic">
			<img class="show_img" id="right_img" src="">
		</div>
	</div>
	<div class="show_images_one">
		<div class="show_pic">
			<img class="show_img" id="center_img" src="">
		</div>
	</div>
	<div id="show_info">
		<div id="show_title">
		</div>
		<div id="show_artists">
		</div>
		<div id="show_time">
		</div>
		<div id="show_description">
		</div>
	</div>
	<div id="thursday_section_title">
		Thursday night program
	</div>
	<div id="thursday_info">
		<div id="thursday_title">
		</div>
		<div id="thursday_time">
		</div>
		<div id="thursday_description">
		</div>
	</div>
</div>
<div class="push"></div>
</div>
</div>
<div class="footer">
<div id='footer-wrap'>
	<div class='footer_subdivide'>
		<div class='footer_subtitle'>
			Location
		</div>
		<div class='footer_text'>
			Cooperative Gallery 213<br>
			213 State Street<br>
			Binghamton, New York 1390<br>
			
		</div>
	</div>
	<div class='footer_subdivide'>
		<div class='footer_subtitle'>
			Hours
		</div>
		<div class='footer_text'>
			Fridays 3-6 p.m.<br>
			First Fridays 3-9 p.m.<br>
			Saturdays 12-4 p.m.
		</div>
	</div>
	<div class='footer_subdivide'>
		<div class='footer_subtitle'>
			Contact
		</div>
		<div class='footer_text'>
			(607) 724-3462
		</div>
	</div>
</div>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}js/home.js"></script>
<script>

	var mc_json = JSON.stringify({{content|safe}})

	var mc_first = JSON.parse(mc_json);

	console.log(mc_first)
</script>
</html>
