<html>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
<title>Cooperative Gallery 213</title>
<body>
<div id='page-wrap'>
<div class="wrapper">
<div id="headerbar">
	<div id="home">
		<a href='/'>Cooperative Gallery 213</a>
	</div>
	<div id="main_menu">
		<span class="menu_item"><a href='/artists_main'>Artists</a></span>
		<span class="menu_item"><a href='/calendar'>Calendar</a></span>
		<span class="menu_item"><a class='selected_link' href='/membership'>Membership</a></span>
		<span class="menu_item"><a href='/links'>Related Links</a></span>
		<span class="menu_item last_item"><a href='/contact'>About</a></span>
	</div>
</div>
<div id="sidebar-aux">
	<!-- <ul id="artists_list"> -->
	<!-- </ul> -->
</div>
<div id="about_content" class='right'>
	<div class="about_section">
		Cooperative Gallery 213 Membership
	</div>
	<div class="about_subsection">
		Here is some information about what it means to be a member of the cooperative gallery.
	</div>
	<div class="about_section">
		Become a member
	</div>
	<div class="about_subsection">
		If you would like to become a member, please fill out this interest form. What is the point of this page actually? For new people trying to become members? Or for people trying to renew their membership fees?
	</div>

</div>
<div class='push'></div>
</div>
</div>
<div class="footer">
<div id='footer-wrap'>
	<div class='footer_subdivide'>
		<div class='footer_subtitle'>
			Location
		</div>
		<div class='footer_text'>
			Cooperative Gallery 213<br>
			213 State Streetb<br>
			Binghamton, New York 1390<br>
			
		</div>
	</div>
	<div class='footer_subdivide'>
		<div class='footer_subtitle'>
			Hours
		</div>
		<div class='footer_text'>
			Fridays 3-6 p.m.<br>
			First Fridays 3-9 p.m.<br>
			Saturdays 12-4 p.m.
		</div>
	</div>
	<div class='footer_subdivide'>
		<div class='footer_subtitle'>
			Contact
		</div>
		<div class='footer_text'>
			(607) 724-3462
		</div>
	</div>
</div>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- <script src="{{ STATIC_URL }}js/sidebar.js"></script> -->
<script>

	var am_json = JSON.stringify({{artists|safe}});

	var am_first = JSON.parse(am_json);

	console.log(am_first)
</script>
</html>
